/*********************************************
 * TOP CONTENT
 *********************************************/
.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9000;
    background: #ffffff;
    width: 100%;
}

.active {
    box-shadow: rgba(0, 0, 0, 0.098) 0px 1px 6px -1px;
}
 .bkgrd1 {
	background-image: linear-gradient(to bottom, #F1F7FA, #DFEEF5);
	max-height: 580px;
    margin-top: 75px;
}

.topcontent { 
	background: #ffffff;
	width: 200px;

}

.logo {
	width: 90px;
	margin: 25px 80px;
}

.sociallinks {
	margin-right: 80px;
	float: right;
}

.sociallinks li {
	float: left;
	margin-left: 30px;
	list-style-image: none;
	list-style-type: none;
}

.navbar-nav {
	display: block;
	margin-top:25px;
}

.twitter{
	height: 16px;
	display: block;
}

.nav-item:hover {
	opacity: .8;
}

.medium{
	height: 16px;
	display: block;
}

.show {
	display: none;
}
.shownow {
	display: block;
	margin-top: 4px;
}

.navlink {
color: #55A6C1;
    font-size: 14px;
    font-family: Nexa-Bold;
}

a.navlink:hover {
	text-decoration: none;
color: #55A6C1;
}

a.medium:hover {
		background-image: url("../img/mediumhover.svg");

}

.headertextbox {
	background-color: #ffffff;
	z-index: 5000;
	position: absolute;
	margin: 4% 100px;
	padding: 50px 80px 60px;
}
.headertext {
	font-family: Nexa-Heavy;
  	font-size: 36px;
  	font-style: normal;
  	font-stretch: normal;
  	letter-spacing: normal;
  	color: #202D3B;
  	line-height: 1.25;
  	text-align: center;
}

.headertext span {
	font-family: Nexa-Light; 
	font-size: 26px; 
	padding-top: 5px;
}

.tagline { 
	height: 18.5px;
	font-family: Nexa-Bold;  
	text-transform: uppercase; 
	font-size: .9em; 
	font-weight: bold; 
	font-style: normal; 
	font-stretch: normal; 
	line-height: normal; 
	letter-spacing: 1px; 
	color: #202D3B;
	text-align: center;
	margin-top: 30px;
}


.coverphoto {
	padding: 0;
	max-height: 580px;
	overflow: hidden;
}

.photohouses {
	float: right;
	overflow: hidden;
	margin-top: -77px;
}

div.a {
	margin: 0 auto;
}

a.buttonlink {
text-decoration: none;
}

.buttonred {
	background-image: linear-gradient(297deg, #e05c58, #F16F6B);
    border-radius: 100px !important;
    font-family: Nexa-Book;
    color: #ffffff;
    border: none;
    height: 60px;
    margin: 40px auto 0px !important;
    padding: 18px;
    width: 350px;
    text-align: center;
    display: block;
}
a.buttonred:hover {
	background-image: linear-gradient(297deg, #F16F6B, #F16F6B);
}
.buttondiv {
    padding-right: 15px;
}

.input-group-append {
    z-index: 9000;
}

.emailinput {
    max-width: 54%;
    float: left;
    margin: -12% 75px 50px;
}

.forminput {
	border-radius: 100px !important; 
	height: 80px;
	border: none;
    box-shadow: 0 12.5px 14px 0 rgba(54, 76, 105, 0.09);
    padding-left: 15px;
    font-family: Nexa-Regular;
    background: #ffffff;
}

input::placeholder {
  color: #030303 !important;
  padding-left: 20px;
  opacity: 1;
  font-size: 14px;
}


/*********************************************
 * CALLOUT
 *********************************************/

.callout {
	background-image: linear-gradient(179deg, #F5FBFE, #E0F0F6);
	margin-top: 100px;
}

.houses {
	margin: 250px -15px 0;
}

.calloutbox {
	max-width: 684px;
	background: #ffffff;
	margin: 90px;
    position: absolute;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.098) 0px 1px 6px -1px;
}

.text-callout {
	font-size: 28px;
 	color: #233c5e;
 	width: 714px;
 	margin: 90px auto 0;
 	font-family: Nexa-Book;
 	line-height: 50px;
}

.text-callout span {
	font-family: Nexa-HeavyItalic;
}

.house {
	float: right; 
}

.calloutheadertext {
	color: #202D3B;
	font-size: 35px;
	font-family: Nexa-Bold;
	margin-bottom: 50px;
}

.callouttitle {
	color: #55A6C1;
	font-size: 16px;
	font-family: Nexa-XBold;
	margin: 0px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 100px 0px 10px;
}

.calloutlabel {
	color: #202D3B;
	font-size: 23px;
	font-family: Nexa-Bold;
	margin-top: 30px;
	margin-bottom: 7px;
}
.callouttext {
	color: #202D3B;
	font-size: 16px;
	font-family: Nexa-Book;
	text-align: center;
	margin: 0 auto;
    line-height: 1.8;
}
/*********************************************
 * HOW DOES BRICK WORK
 *********************************************/
.investmentheadertext {
	color: #202D3B;
	font-size: 35px;
	font-family: Nexa-Bold;
	text-align: left;
}

.investmenttext {
	color: #202D3B;
	font-size: 25px;
	font-family: Nexa-Light;
	margin-bottom: 20px;
	text-align: left;
}

.investmenttextbullet {
	color: #202D3B;
	font-size: 18px;
	font-family: Nexa-Bold;
	text-align: left;
	line-height: 3;
	list-style: none;
	padding: 0;
}



.managelogo {
height: 24px;
margin-right: 20px;
}

.financelogo {
height: 24px;
margin-right: 20px;
}

.findlogo {
height: 25px;
margin-right: 20px;
}

.homegoals {
height: 230px;
margin: 0 auto;
display: block;
}

.plan {

height: 230px;
margin: 0 auto;
display: block;
}

.learn {

height: 230px;
margin: 0 auto;
display: block;
}


.findfinancemanage {
	max-width: 1140px;
	margin: 0 auto;
}


.findtext {
	max-width: 300px;
}

.financetext {
	max-width: 300px;
}

.managetext {
	max-width: 360px;
}

/*********************************************
 * EMAIL
 *********************************************/

.emailsignup {
	background-image: linear-gradient(to bottom, #90c8e1, #51a4bf);
	padding: 90px;
}

.emailtext {
	color: #1e3655;
	font-size: 28px;
	font-family: Nexa-Bold;
	text-align: center;
	margin: 0 auto;
}


.footeremailinput {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 40px;
}

/*********************************************
 * FOOTER
 *********************************************/

.footer {
	background-image: linear-gradient(to bottom, #3a5371, #112848);
	padding: 20px 80px;
}

.footerlogoicon {
	max-width: 250px;
	margin-top: 30px;
}

.copyrighttext {
	font-family: Nexa-Book;
	font-size: 12px;
	color: #8294A7;
	float: right;
	text-align: right;
	width: 100%;
}

.textcenter {
	text-align: center;
	margin-left: 20px;
	color: #ffffff;
}

/*********************************************
 * MEDIA QUERIES
 *********************************************/
@media only screen and (max-width: 1200px) {
	.headertextbox {
    padding: 30px 50px 40px;
}
.headertext {
	font-size: 30px; 

}
.headertext span {
	font-size: 22px; 
}

.tagline { 
	font-size: .8em;
}

.buttonred {
    height: 50px;
    width: 300px;
    margin: 30px auto 0px !important;
    font-size: 15px;
}
.houses {
	margin-top: 300px;
}


}

@media only screen and (max-width: 960px) {
.calloutbox {
    position: relative;
    max-width: 444px;
    margin: 0 auto;
    margin-top: -520px;
    height: 470px;
}


.investmentheadertext {
	font-size: 36px;
	max-width: 300px;
}

.investmenttext {
	font-size: 20px;
	max-width: 350px;
}

.investmenttextbullet {
	font-size: 14px;
}
.callouttext {
	margin-bottom: 50px;
}
.footerlogoicon {
    max-width: 180px;
    }
}
@media only screen and (max-width: 768px) {
	.houses {margin-top:430px;}
.headertextbox {
	width: 400px;
    margin: 0 auto;
    position: relative;
    margin-top: -300px;
    height: 350px;
}
}

@media only screen and (max-width: 620px) {
	.logo {
    	width: 60px;
	margin: 25px 30px;
	}

	.sociallinks {
	margin-right:30px;
	float: right;
}
.calloutheadertext {
    font-size: 32px;
    max-width: 300px;
    margin: 0 auto;
}

.headertextbox {
	margin: -90px auto;
	max-width: 350px;

}

/*@media only screen and (max-width: 1439px) {

	.headertext {
		font-size: 2.4em;
	}

	.footerlogo {
		flex: none;
		width: 100%;
		max-width: 100%;
		margin: 0 auto 40px;
	}

	.footerlogoicon {
		margin: 0 auto;
	}

	.copyrighttext {
		margin: 0 auto 20px;
		text-align: center;
	}

	.footer {
	    padding: 20px;
	    text-align: center;
	    margin: 0 auto;
	}

	.footerlogoicon {
	    max-width: 252px;
	    margin: 20px auto 0px;

	}

	.footerbrick, .footerblog, .footersocial {
	 	max-width: 100%;
	 	margin: 0 auto;
	 	text-align: center;
	}

	.footerlogo {
		max-width: 100%;
		margin: 0 auto 20px;
	}

	.textcenter {
		margin: 0;
		padding: 0 ;
	}

	.footerheadline {
		margin-top: 20px;
	}

	.facebook, .medium, .twitter {
		margin: 15px;
		padding: 0;
	}
}

@media only screen and (max-width: 1300px) {
	.headertext {
			font-size: 2.2em;
	}
	
	.tagline {
		font-size: .7em;
	}
}

@media only screen and (max-width: 1200px) {
	
    .topcontent {
		 padding: 40px 60px;
	}

	.emailinput {
    	margin: -12% 40px 0;
    }

	.logo {
	    width: 70px;
	    margin-bottom: 40px;
	}

	.forminput {
		height: 60px;
	}

	.button {
		height: 40px;
		font-size: 13px;
	}

	.headertext {
		font-size: 2em;
	}

	.tagline { 
		font-size: .7em;
	}

	.house { 
		margin-top: -5px;
	}

	.text-callout {
	    font-size: 22px;
	    line-height: 40px;
	    margin: 50px auto 0;
	}

	.footerlogoicon {
	    max-width: 252px;
	}

	.footer {
	    padding: 50px 60px 10px;
	}

	input::placeholder {
	  font-size: 13px;
	}
}

@media only screen and (max-width: 960px) {

	.calloutheadertext {
	    font-size: 32px;
	    margin: 40px 0px 0px;
	}

	.calloutlabel {
		margin-top: 40px;
		font-size: 16px;
	}


	.text-callout {
		max-width: 90%;
	}

	.headertext {
		font-size: 1.7em;
	}

	.tagline {
		font-size: .6em;
	}
}


@media only screen and (max-width: 830px) {
	.coverphoto {
	    overflow: hidden;
	}

	.headertext {
		font-size: 1.4em;
	}

	.emailinput {
	    max-width: 90%;
	    float: left;
	    margin: -30% auto 0px;
	}

	.photohouses {
		margin-top: -170px;
		max-height: 580px;
	}

	.topcontent {
		width: 100%;
		max-width: 100%;
		flex: none;
	}

	.coverphoto {
		flex: none;
		width: 100%;
		max-width: 100%;
		max-height: 200px;
		margin-top: -10px;
	}

	.headertext { 
		text-align: center;
		font-size: 2em;
	}

	.tagline {
		font-size: .7em;
		text-align: center;
		margin: 10px auto 30px;
		max-width: 90%;
	}

	.logo {
    	width: 70px;
    	margin-bottom: 40px;
	}
}

@media only screen and (max-width: 620px) {

	.emailinput {
    	max-width: 90%;
    	float: left;
    	margin: -50% auto 0px;
	}

	.text-callout {
    	font-size: 16px;
    	line-height: 30px;
    	margin: 50px auto 0;
	}

	.house {
	    margin-top: 5px;
	}

	.row {
		margin: 0;
	}

	.emailsignup {
		padding: 20px;
	}

	.button {
		padding: 0 20px;
	    margin-left: -175px;
	    font-size: 14px;
	}

	.forminput {
		padding:0;
	}
}

@media only screen and (max-width: 500px) {


}
